@use "@/styles/constants" as c;
@use "@/styles/mixin" as m;

.cast {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;

  &-title {
    @include m.title();
  }

  &-carousel {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    padding-bottom: 1rem;
    overflow-x: scroll;
  }

  &-tile {
    background: c.$bg-dark-gray-50;
    display: flex;
    flex-direction: column;
    flex: 0 0 150px;
    border-radius: 8px;
    overflow: hidden;

    &_body {
      padding: 0.6rem;
    }

    &-name {
      @include m.title(0.9rem);
      font-weight: 500;
      padding-bottom: 0.3rem;
    }

    &-character {
      @include m.info();
    }
  }
}
