@use "@/styles/constants" as c;
@use "@/styles/mixin" as m;

.media-tile {
  border: 1px solid c.$border-dark-gray;
  border-radius: 8px;
  overflow: hidden;

  &-poster img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.7rem;
    padding: 0.9rem;
  }

  &-title {
    max-width: 100%;
    display: -webkit-box;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 110%;
    color: c.$font-white;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  &-info {
    @include m.info();
  }

  &-rating {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding-right: 0.45rem;
    border-right: 1px solid c.$border-gray;
  }
}
