@use "swiper/css";
@use "swiper/css/navigation";
@use "swiper/css/pagination";
@use "@/styles/constants" as c;
@use "@/styles/mixin" as m;

.home-carousel {
  max-width: 100%;
  width: 100%;

  .swiper-slide {
    display: grid;
    grid-template-areas: "slide";

    * {
      grid-area: slide;
    }

    .AsyncImage-root {
      width: 100% !important;
      height: 600px !important;
      z-index: 1;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    background: c.$bg-black-50;
    width: unset;
    height: unset;
    padding: 0.65rem;
    border-radius: 100%;
    transition: all 0.25s ease-in-out;

    &:hover {
      background: c.$bg-black-70;
    }

    &::after {
      display: flex;
      font-size: unset;
    }
  }

  .swiper-button-prev::after {
    content: url("@/assets/icons/chevron-left.svg");
  }

  .swiper-button-next::after {
    content: url("@/assets/icons/chevron-right.svg");
  }

  .swiper-pagination-bullet {
    background: c.$bg-gray-50;
    height: 12px;
    width: 12px;
    opacity: 1;
    transition: all 0.25s ease-in-out;

    &-active {
      background: c.$bg-red;
      width: 32px;
      border-radius: 100px;
    }
  }

  .slide-gradient {
    background: linear-gradient(to right, #000, rgb(0 0 0 / 0.6), transparent);
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .slide-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: center;
    gap: 1rem;
    padding-left: 8%;
    z-index: 3;

    .trending {
      &-heading {
        font-size: 1rem;
        font-weight: 400;
        color: c.$font-gray;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        padding-left: 0.5rem;
        border-left: 4px solid c.$bg-red;
      }

      &-title {
        @include m.title(3.3rem);
      }

      &-description {
        max-width: 30rem;
        @include m.text();
      }

      &-info {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: c.$font-gray;
      }

      &-rating,
      &-type {
        @include m.info();
      }

      &-type {
        text-transform: capitalize;
      }

      &-btn {
        background: c.$bg-red;

        &:hover {
          background: c.$bg-hover-red;
        }
      }
    }
  }
}
