// BACKGROUND
$bg-dark: #000000f2;
$bg-dark-blue: #111827;
$bg-dark-blue-50: #11182780;
$bg-dark-gray: #1f2937;
$bg-dark-gray-80: #1f2937cc;
$bg-red: #dc2626;

// BORDER
$border-gray: #374151;

// FONT
$font-white: #fff;
$font-gray: #d1d5db;
$font-light-gray: #cccccc;
$font-red: #dc2626;
