// BACKGROUND
$bg-black-95: #000000f2;
$bg-black-70: #000000b3;
$bg-black-50: #00000080;
$bg-dark-blue: #111827;
$bg-dark-blue-50: #11182780;
$bg-dark-gray: #1f2937;
$bg-dark-gray-80: #1f2937cc;
$bg-dark-gray-50: #9ca3af80;
$bg-red: #dc2626;

// BORDER
$border-dark-gray: #1f2937;
$border-gray: #374151;

// FONT
$font-white: #fff;
$font-gray: #d1d5db;
$font-light-gray: #cccccc;
$font-red: #dc2626;
