@use "./constants" as c;

@mixin title($font-size: 1.7rem) {
  font-size: $font-size;
  font-weight: 700;
  line-height: 110%;
  color: c.$font-white;
}

@mixin text($font-size: 0.9rem, $color: c.$font-gray) {
  font-size: $font-size;
  font-weight: 400;
  line-height: normal;
  color: $color;
}

@mixin info() {
  display: flex;
  align-items: center;
  gap: 0.45rem;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 100%;
  color: c.$font-gray;
}
