@use "@/styles/constants" as c;

.media-details-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;

  svg {
    width: 20px;
    height: 20px;
  }
}

.media-details-button {
  background: c.$bg-dark-gray;
  color: c.$font-white;
  padding: 0 1rem;
  cursor: pointer;

  &:hover {
    background: c.$bg-gray;
  }

  &.watchlist {
    background: c.$bg-red;

    &:hover {
      background: c.$bg-hover-red;
    }
  }
}
